body{
	background:url("https://lh3.googleusercontent.com/MaqieuZpRcA1ZkpOQR2RoLC-GfJ-9hl83xgzUJDR04fQTNffbirBz6PJUXMs4AxluEg5WAteyqO7YIHC2ptiJKgWndZc59fi-V-7PtF5");
}

h2{
	margin: 5;
	text-align: left;
	text-decoration: underline;
	text-decoration-color: Black;
	font-family: cursive;
	font-weight: 500;
	font-size: 30px;
}