body {
        background-color: burlywood;
        font-family: sans-serif;
        text-align: justify-all;
}



p{
       font-family: helvetica;
       font-size: 15px;
       line-height: 25px;
       font-style: italic;
       text-indent:100px;
}

h1 {
       color:Black;
       text-decoration: underline;
       text-align: center;
       margin:15px;
       font-size:200%;
       text-transform:uppercase;

}

h2 {
       color:Black;
       font-style:italic;
       background-color: burlywood;
       text-transform:capitalize;
}

h3 {
       background-color: burlywood;
}
h1, h2, h3, h4, h5, h6 {
       font-family: sans-serif;
}

