h1{
	color:white ;
	background-color: blue;
	text-align: center;
	padding: 15px;
}

footer{
	background-color: blue;
	padding: 15px;

}

p{
	text-align: center;
	color: white;
}

h3{
	color: red;
}

img{
	background-color: red;
}