.container {
       width:80%;
       margin:0 auto;
       text-align: center;
}

.item {
       width: 35%;
       height: 200px;
}

@media screen and (max-width: 768px) {}
.container {
       flex-direction: column;
       }

.item {
       width: 100%;
       height: auto;
       margin-bottom: 17px;
       }

       body {
              font-size: 15px;
       }

       header {
              padding: 10px;
       }

       footer {
              background-color: green;
       }

.container{
       width:80%;
       margin:0 auto;
       text-align:center;
       }

body {
       background-color:sandybrown;
       background-image:linear-gradient(sandybrown,white,slategray);
       }

} 

.center{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width:50%;
}

h1 {
       color:Black;
       text-decoration: underline;
       margin:15px;
       font-family: cursive;
       text-transform:capitalize;
       background:url("images/sandbrown.jpg");
       box-shadow: 11px 11px 11px black;
      
}

h2 {
       color:Black;
       font-style:italic;                               
       background-color: grey;
       text-transform: uppercase;
}

h4{
       color:floralwhite;
       background: cadetblue;
}

li{
       font-family: monospace;
       background-color: darkorange;
       color: brown;
}

h3 {
       background-color: skyblue;
       color: black;
       font-family: sans-serif;
}

a:link {
       color:red;
       text-decoration: none;
}
a:visited {
       color: brown;
}

a:hover{
       color:green;
       text-decoration: underline;
}

.side{
       display: inline-block;
       border: 10px solid black;
       padding: 2rem 2rem;
       vertical-align: middle;
}

.image{
       display:inline-block;
       border:10px solid black;
       padding: 2rem 2rem;
       vertical-align:middle;
}

.nutrition-facts {
       width: 300px;
       margin:0 auto;
}

table {
       width: 100%;
       border-collaspe: collapse;
       border: 5px solid white;
}

td {
       padding: 5px;
       font-size: 14px;
       border: 5px solid white;
       color: white;
}

.header {
       font-size: 18px;
       font-weight: bold;
       text-align: center;
       padding :10px;
       background-color: #eee;
       color: purple;
}

.footer {
       font-size: 18px;
       text-align: center;
       padding: 10px;
       color: black;
}

tr:hover{
background-color: purple;
}

tr:nth-child(even) {
       background-color: red;
}


















